@import 'Src/styles/variables';

.main {
  max-width: $max-width;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.layout {
  max-width: 1160px;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
}
