$purple: #bc9cff;
$red: #f54242;
$box-shadow-normal: 0 10px 20px rgba(31, 32, 65, 0.05);
$font-family: 'Rubik';
$font-size-huge: 24px;
$font-size-normal: 14px;
$max-width: 1920px;
$min-width: 320px;
$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;
$breakpoint-xs: 576px;
$breakpoint-xxs: 345px;
